.libsodium
.tested
a.out
box
box.musl
libnacl.a
libsodium-1.0.11.tar.gz
libsodium.musl
nacl
nacl-20110221
nacl.debug
sqlite-autoconf-3150100.tar.gz
sqlite-autoconf-3150100
sqlite3.c
sqlite3.h
testing
testlog
libsodium
box.debug
